# Dependencies
node_modules/

# Build output
dist/
*.vsix

# Editor files
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db
